PORT=

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
# mongodb+srv://ishuksasha2005:G8by6wK3WVK3txtV@contactsdatabase.n1ut9gk.mongodb.net/?retryWrites=true&w=majority&appName=ContactsDatabase
# New JWT Secret
JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
APP_DOMAIN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=